In [2]:
import pandas as pd
import numpy as np
from scipy.sparse import coo_matrix

In [51]:
data_df = pd.read_csv('./Steam.csv', sep=',', names=["User ID","Name","Type","Hours"], engine='python')
#data_df = data_df[data_df["Type"] == "purchase"]


unique_GameID = data_df['Name'].unique()
unique_UserID = data_df['User ID'].unique()

user_count_j = 0
user_old2new_id_dict = dict()
for u in unique_UserID:
    user_old2new_id_dict[u] = user_count_j
    user_count_j += 1

game_count_j = 0
game_old2new_id_dict = dict()
for i in unique_GameID:
    game_old2new_id_dict[i] = game_count_j
    game_count_j += 1

# Then, use the generated dictionaries to reindex UserID and MovieID in the data_df
for j in range(len(data_df)):
    data_df.at[j, 'User ID'] = user_old2new_id_dict[data_df.at[j, 'User ID']]
   
    
    data_df.at[j, 'Name'] = game_old2new_id_dict[data_df.at[j, 'Name']]

data_df = data_df[data_df["Type"] == "purchase"]

In [52]:
inv_names = {v: k for k, v in game_old2new_id_dict.items()}
inv_users = {v: k for k, v in user_old2new_id_dict.items()}

In [53]:
import csv

with open("GGs 489 survey (Responses) - Form Responses 1.csv", newline='') as f:
    reader = csv.reader(f)
    data = list(reader)

data = data[1:]

for i in range (len(data)):
    data[i][1] = data[i][1].split(", ")

#Collect the survey data into survey_df
survey_data = []
for i in range (len(data)):
    
    user_old2new_id_dict[data[i][2]] = user_count_j
    user_count_j += 1
    
    for k in data[i][1]:
        
        survey_data.append([user_old2new_id_dict[data[i][2]],game_old2new_id_dict[k],"purchase",1.0])

survey_df = pd.DataFrame(survey_data,columns=["User ID","Name","Type","Hours"])

#attach the survey data to the given data
data_df.append(survey_df,ignore_index=True)

    User ID Name      Type  Hours
0         0    0  purchase    1.0
2         0    1  purchase    1.0
4         0    2  purchase    1.0
6         0    3  purchase    1.0
8         0    4  purchase    1.0
..      ...  ...       ...    ...
6     12393  628  purchase    1.0
7     12393  280  purchase    1.0
8     12393  117  purchase    1.0
9     12393    8  purchase    1.0
10    12393   75  purchase    1.0

[129522 rows x 4 columns]

In [37]:
test_df = data_df.sample(frac = 0.3, random_state = np.random.randint(1024))
train_df = data_df.drop(test_df.index)

print ("The testing dataframe is of size: " + str(len(test_df)))
print ("The training dataframe is of size: " + str(len(train_df)))

The testing dataframe is of size: 38853
The training dataframe is of size: 90658

In [5]:
num_user = len(data_df['User ID'].unique())
num_game = len(data_df['Name'].unique())

data_mat = coo_matrix((data_df['Hours'].values, (data_df['User ID'].values, data_df['Name'].values)), shape=(num_user, num_game)).toarray().astype(float)
train_mat = coo_matrix((train_df['Hours'].values, (train_df['User ID'].values, train_df['Name'].values)), shape=(num_user, num_game)).toarray().astype(float)
test_mat = coo_matrix((test_df['Hours'].values, (test_df['User ID'].values, test_df['Name'].values)), shape=(num_user, num_game)).toarray().astype(float)